In [1]:
import pandas as pd
dogs = pd.read_csv('dogs.csv')

## Summarizing numerical data

In [2]:
dogs["height_cm"].mean()

49.714285714285715

In [3]:
dogs["height_cm"].median()

49.0

In [4]:
dogs["height_cm"].mode()

0    18
1    43
2    46
3    49
4    56
5    59
6    77
dtype: int64

## Summarizing dates

In [5]:
dogs["date_of_birth"].min()

'2011-12-11'

In [6]:
dogs["date_of_birth"].max()

'2018-02-27'

## The .agg() method

In [7]:
def pct30(column):
    return column.quantile(0.3)

In [8]:
dogs["weight_kg"].agg(pct30)

20.999999999999996

## Summaries on multiple columns

In [9]:
dogs[["weight_kg", "height_cm"]].agg(pct30)

weight_kg    21.0
height_cm    45.4
dtype: float64

## Multiple summaries

In [10]:
def pct40(column):
    return column.quantile(0.4)

In [11]:
dogs["weight_kg"].agg([pct30, pct40])

pct30    21.0
pct40    22.4
Name: weight_kg, dtype: float64

## Cumulative sum

In [12]:
dogs["height_cm"]

0    56
1    43
2    46
3    49
4    59
5    18
6    77
Name: height_cm, dtype: int64

In [13]:
dogs["height_cm"].cumsum()

0     56
1     99
2    145
3    194
4    253
5    271
6    348
Name: height_cm, dtype: int64

## Cumulative statistics

- .cummax()
- .cummin()
- .cumprod()

## Mean and median

Summary statistics are exactly what they sound like - they summarize many numbers in one statistic. For example, mean, median, minimum, maximum, and standard deviation are summary statistics. Calculating summary statistics allows you to get a better sense of your data, even if there's a lot of it.

sales is available and pandas is loaded as pd.

### Instructions
- Explore your new DataFrame first by printing the first few rows of the sales DataFrame.
- Print information about the columns in sales.
- Print the mean of the weekly_sales column.
- Print the median of the weekly_sales column.

In [14]:
import pickle

with open('walmart_sales.pkl', 'rb') as f:
    data = pickle.load(f)

In [15]:
data.head()

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
1,1,A,2,2010-02-05,50605.27,False,5.727778,0.679451,8.106
2,1,A,3,2010-02-05,13740.12,False,5.727778,0.679451,8.106
3,1,A,4,2010-02-05,39954.04,False,5.727778,0.679451,8.106
4,1,A,5,2010-02-05,32229.38,False,5.727778,0.679451,8.106

In [3]:
sales = data.copy()

In [4]:
# Print the head of the sales DataFrame
print(sales.head())

# Print the info about the sales DataFrame
print(sales.info())

# Print the mean of weekly_sales
print(sales["weekly_sales"].mean())

# Print the median of weekly_sales
print(sales["weekly_sales"].median())

   store type  department       date  weekly_sales  is_holiday  temperature_c  \
0      1    A           1 2010-02-05      24924.50       False       5.727778
1      1    A           2 2010-02-05      50605.27       False       5.727778
2      1    A           3 2010-02-05      13740.12       False       5.727778
3      1    A           4 2010-02-05      39954.04       False       5.727778
4      1    A           5 2010-02-05      32229.38       False       5.727778

   fuel_price_usd_per_l  unemployment
0              0.679451         8.106
1              0.679451         8.106
2              0.679451         8.106
3              0.679451         8.106
4              0.679451         8.106
<class 'pandas.core.frame.DataFrame'>
Int64Index: 413119 entries, 0 to 413118
Data columns (total 9 columns):
store                   413119 non-null int64
type                    413119 non-null object
department              413119 non-null int32
date                    413119 non-null datetime64[ns]
weekly_sales            413119 non-null float64
is_holiday              413119 non-null bool
temperature_c           413119 non-null float64
fuel_price_usd_per_l    413119 non-null float64
unemployment            413119 non-null float64
dtypes: bool(1), datetime64[ns](1), float64(4), int32(1), int64(1), object(1)
memory usage: 27.2+ MB
None
16094.726811185497
7682.47

## Summarizing dates

Summary statistics can also be calculated on date columns which have values with the data type datetime64. Some summary statistics — like mean — don't make a ton of sense on dates, but others are super helpful, for example minimum and maximum, which allow you to see what time range your data covers.

sales is available and pandas is loaded as pd.

### Instructions

- Print the maximum of the date column.
- Print the minimum of the date column.

In [5]:
# Print the maximum of the date column
print(sales['date'].max())

# Print the minimum of the date column
print(sales['date'].min())

2012-10-26 00:00:00
2010-02-05 00:00:00

## Efficient summaries

While pandas and NumPy have tons of functions, sometimes you may need a different function to summarize your data.

The .agg() method allows you to apply your own custom functions to a DataFrame, as well as apply functions to more than one column of a DataFrame at once, making your aggregations super efficient.

In the custom function for this exercise, "IQR" is short for inter-quartile range, which is the 75th percentile minus the 25th percentile. It's an alternative to standard deviation that is helpful if your data contains outliers.

sales is available and pandas is loaded as pd.

### Instructions

- Use the custom iqr function defined for you along with .agg() to print the IQR of the temperature_c column of sales.
- Update the column selection to use the custom iqr function with .agg() to print the IQR of temperature_c, fuel_price_usd_per_l, and unemployment, in that order.
- Update the aggregation functions called by .agg(): include iqr and np.median in that order.

In [6]:
# A custom IQR function
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)
    
# Print IQR of the temperature_c column
print(sales['temperature_c'].agg(iqr))

15.299999999999994

In [7]:
# A custom IQR function
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)

# Update to print IQR of temperature_c, fuel_price_usd_per_l, & unemployment
print(sales[["temperature_c", "fuel_price_usd_per_l", "unemployment"]].agg(iqr))

temperature_c           15.300000
fuel_price_usd_per_l     0.211866
unemployment             1.672000
dtype: float64

In [8]:
# Import NumPy and create custom IQR function
import numpy as np
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)

# Update to print IQR and median of temperature_c, fuel_price_usd_per_l, & unemployment
print(sales[["temperature_c", "fuel_price_usd_per_l", "unemployment"]].agg([iqr, np.median]))

        temperature_c  fuel_price_usd_per_l  unemployment
iqr             15.30              0.211866         1.672
median          16.75              0.911922         7.852

## Cumulative statistics

Cumulative statistics can also be helpful in tracking summary statistics over time. In this exercise, you'll calculate the cumulative sum and cumulative max of a department's weekly sales, which will allow you to identify what the total sales were so far as well as what the highest weekly sales were so far.

A DataFrame called sales_1_1 has been created for you, which contains the sales data for department 1 of store 1. pandas is loaded as pd.

### Instructions

- Sort the rows of sales_1_1 by the date column in ascending order.
- Get the cumulative sum of weekly_sales and add it as a new column of sales_1_1 called cum_weekly_sales.
- Get the cumulative maximum of weekly_sales, and add it as a column called cum_max_sales.
- Print the date, weekly_sales, cum_weekly_sales, and cum_max_sales columns.

In [9]:
sales_1_1 = sales[sales["department"] == 1]

In [10]:
sales_1_1.head()

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
73,1,A,1,2010-02-12,46039.49,True,3.616667,0.673111,8.106
145,1,A,1,2010-02-19,41595.55,False,4.405556,0.664129,8.106
218,1,A,1,2010-02-26,19403.54,False,8.127778,0.676545,8.106
290,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106

In [11]:
# Sort sales_1_1 by date
sales_1_1 = sales_1_1.sort_values("date")

# Get the cumulative sum of weekly_sales, add as cum_weekly_sales col
sales_1_1["cum_weekly_sales"] = sales_1_1["weekly_sales"].cumsum()

# Get the cumulative max of weekly_sales, add as cum_max_sales col
sales_1_1["cum_max_sales"] = sales_1_1["weekly_sales"].cummax()

# See the columns you calculated
print(sales_1_1[["date", "weekly_sales", "cum_weekly_sales", "cum_max_sales"]])

             date  weekly_sales  cum_weekly_sales  cum_max_sales
0      2010-02-05      24924.50      2.492450e+04       24924.50
87524  2010-02-05      40212.84      6.513734e+04       40212.84
346509 2010-02-05      11283.23      7.642057e+04       40212.84
157464 2010-02-05      20304.23      9.672480e+04       40212.84
286548 2010-02-05      10158.77      1.068836e+05       40212.84
237097 2010-02-05      17778.48      1.246620e+05       40212.84
207131 2010-02-05      20686.31      1.453484e+05       40212.84
216819 2010-02-05      32452.79      1.778011e+05       40212.84
226869 2010-02-05      17309.89      1.951110e+05       40212.84
177187 2010-02-05      21500.58      2.166116e+05       40212.84
197549 2010-02-05      15501.96      2.321136e+05       40212.84
246901 2010-02-05      22926.65      2.550402e+05       40212.84
361077 2010-02-05      21244.50      2.762847e+05       40212.84
68762  2010-02-05      16181.89      2.924666e+05       40212.84
303846 2010-02-05      22675.43      3.151420e+05       40212.84
138120 2010-02-05      12239.38      3.273814e+05       40212.84
320535 2010-02-05      20347.48      3.477289e+05       40212.84
117606 2010-02-05      46761.90      3.944908e+05       46761.90
353715 2010-02-05       6732.38      4.012232e+05       46761.90
78657  2010-02-05      12861.40      4.140846e+05       46761.90
10244  2010-02-05      35034.06      4.491187e+05       46761.90
411933 2010-02-05      18628.11      4.677468e+05       46761.90
187335 2010-02-05      46021.21      5.137680e+05       46761.90
256755 2010-02-05      32313.79      5.460818e+05       46761.90
380972 2010-02-05      16971.05      5.630528e+05       46761.90
29518  2010-02-05      38724.42      6.017772e+05       46761.90
293704 2010-02-05      18187.71      6.199649e+05       46761.90
148021 2010-02-05      12786.85      6.327518e+05       46761.90
97839  2010-02-05      19611.13      6.523629e+05       46761.90
340287 2010-02-05       2144.48      6.545074e+05       46761.90
...           ...           ...               ...            ...
390988 2012-10-26      39498.10      1.228511e+08      172225.55
320491 2012-10-26       3210.15      1.228543e+08      172225.55
117538 2012-10-26      25883.95      1.228802e+08      172225.55
293655 2012-10-26      12863.85      1.228931e+08      172225.55
147952 2012-10-26      21677.69      1.229147e+08      172225.55
187263 2012-10-26      33686.67      1.229484e+08      172225.55
256686 2012-10-26      23949.13      1.229724e+08      172225.55
10172  2012-10-26      27390.81      1.229998e+08      172225.55
411878 2012-10-26      13117.60      1.230129e+08      172225.55
361023 2012-10-26       9241.43      1.230221e+08      172225.55
68694  2012-10-26      10983.79      1.230331e+08      172225.55
78587  2012-10-26      21737.93      1.230549e+08      172225.55
353663 2012-10-26      16728.53      1.230716e+08      172225.55
330689 2012-10-26      25051.36      1.230966e+08      172225.55
266909 2012-10-26      52612.95      1.231492e+08      172225.55
216750 2012-10-26      38973.00      1.231882e+08      172225.55
226800 2012-10-26      57391.58      1.232456e+08      172225.55
397961 2012-10-26      13237.19      1.232588e+08      172225.55
340220 2012-10-26      25693.46      1.232845e+08      172225.55
97767  2012-10-26      58409.83      1.233430e+08      172225.55
29454  2012-10-26      11351.24      1.233543e+08      172225.55
286483 2012-10-26      22637.67      1.233769e+08      172225.55
303776 2012-10-26      22652.14      1.233996e+08      172225.55
138052 2012-10-26      48143.51      1.234477e+08      172225.55
197478 2012-10-26      55623.24      1.235034e+08      172225.55
246833 2012-10-26      35637.21      1.235390e+08      172225.55
48727  2012-10-26      12774.47      1.235518e+08      172225.55
380901 2012-10-26      24689.25      1.235765e+08      172225.55
177118 2012-10-26      35198.50      1.236117e+08      172225.55
413111 2012-10-26      27117.16      1.236388e+08      172225.55

[6435 rows x 4 columns]

## Dropping duplicates

Removing duplicates is an essential skill to get accurate counts, because often you don't want to count the same thing multiple times. In this exercise, you'll create some new DataFrames using unique values from sales.

sales is available and pandas is imported as pd.

### Instructions

- Remove rows of sales with duplicate pairs of store and type and save as store_types and print the head.
- Remove rows of sales with duplicate pairs of store and department and save as store_depts and print the head.
- Subset the rows that are holiday weeks, and drop the duplicate dates, saving as holiday_dates.
- Select the date column of holiday_dates, and print.

In [12]:
# Drop duplicate store/type combinations
store_types = sales.drop_duplicates(subset=["store", "type"])
print(store_types.head())

# Drop duplicate store/department combinations
store_depts = sales.drop_duplicates(subset=["store", "department"])
print(store_depts.head())

# Subset the rows that are holiday weeks and drop duplicate dates
holiday_dates = sales[sales["is_holiday"]].drop_duplicates(subset="date")

# Print date col of holiday_dates
print(holiday_dates["date"])

       store type  department       date  weekly_sales  is_holiday  \
0          1    A           1 2010-02-05      24924.50       False
10244      2    A           1 2010-02-05      35034.06       False
20482      3    B           1 2010-02-05       6453.58       False
29518      4    A           1 2010-02-05      38724.42       False
39790      5    B           1 2010-02-05       9323.89       False

       temperature_c  fuel_price_usd_per_l  unemployment
0           5.727778              0.679451         8.106
10244       4.550000              0.679451         8.324
20482       7.616667              0.679451         7.368
29518       6.533333              0.686319         8.623
39790       4.277778              0.679451         6.566
   store type  department       date  weekly_sales  is_holiday  temperature_c  \
0      1    A           1 2010-02-05      24924.50       False       5.727778
1      1    A           2 2010-02-05      50605.27       False       5.727778
2      1    A           3 2010-02-05      13740.12       False       5.727778
3      1    A           4 2010-02-05      39954.04       False       5.727778
4      1    A           5 2010-02-05      32229.38       False       5.727778

   fuel_price_usd_per_l  unemployment
0              0.679451         8.106
1              0.679451         8.106
2              0.679451         8.106
3              0.679451         8.106
4              0.679451         8.106
73     2010-02-12
2218   2010-09-10
3014   2010-11-26
3372   2010-12-31
3800   2011-02-11
5940   2011-09-09
6731   2011-11-25
7096   2011-12-30
7527   2012-02-10
9667   2012-09-07
Name: date, dtype: datetime64[ns]

## Counting categorical variables

Counting is a great way to get an overview of your data and to spot curiosities that you might not notice otherwise. In this exercise, you'll count the number of each type of store and the number of each type of department.

The stores and departments DataFrames you created in the last exercise are available and pandas is imported as pd.

### Instructions

- Count the number of stores of each type.
- Count the proportion of stores of each type.
- Count the number of departments of each type, sorting the counts in descending order.
- Count the proportion of departments of each type, sorting the proportions in descending order.

In [13]:
stores = sales.drop_duplicates(subset=["store", "type"])

In [14]:
stores.head()

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
10244,2,A,1,2010-02-05,35034.06,False,4.550000,0.679451,8.324
20482,3,B,1,2010-02-05,6453.58,False,7.616667,0.679451,7.368
29518,4,A,1,2010-02-05,38724.42,False,6.533333,0.686319,8.623
39790,5,B,1,2010-02-05,9323.89,False,4.277778,0.679451,6.566

In [15]:
departments = sales.drop_duplicates(subset=["store", "department"])
departments.head()

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
1,1,A,2,2010-02-05,50605.27,False,5.727778,0.679451,8.106
2,1,A,3,2010-02-05,13740.12,False,5.727778,0.679451,8.106
3,1,A,4,2010-02-05,39954.04,False,5.727778,0.679451,8.106
4,1,A,5,2010-02-05,32229.38,False,5.727778,0.679451,8.106

In [16]:
# Count the number of stores of each type
store_counts = stores["type"].value_counts()
print(store_counts)

# Get the proportion of stores of each type
store_props = stores["type"].value_counts(normalize=True)
print(store_props)

# Count the number of departments of each type and sort
dept_counts_sorted = departments["department"].value_counts(sort=True)
print(dept_counts_sorted)

# Get the proportion of departments of each type and sort
dept_props_sorted = departments["department"].value_counts(sort=True, normalize=True)
print(dept_props_sorted)

A    22
B    17
C     6
Name: type, dtype: int64
A    0.488889
B    0.377778
C    0.133333
Name: type, dtype: float64
1     45
9     45
4     45
6     45
8     45
3     45
5     45
7     45
2     45
79    44
97    44
96    44
94    44
92    44
82    44
80    44
74    44
72    44
60    44
56    44
52    44
46    44
44    44
42    44
40    44
38    44
32    44
26    44
24    44
22    44
      ..
81    44
13    44
11    44
27    43
85    43
28    42
71    42
93    42
83    42
34    42
41    41
29    39
35    38
36    38
19    37
99    37
30    36
78    36
45    36
47    36
77    36
51    36
54    36
58    33
48    25
37    20
50    14
43     5
39     5
65     1
Name: department, Length: 81, dtype: int64
1     0.013778
9     0.013778
4     0.013778
6     0.013778
8     0.013778
3     0.013778
5     0.013778
7     0.013778
2     0.013778
79    0.013472
97    0.013472
96    0.013472
94    0.013472
92    0.013472
82    0.013472
80    0.013472
74    0.013472
72    0.013472
60    0.013472
56    0.013472
52    0.013472
46    0.013472
44    0.013472
42    0.013472
40    0.013472
38    0.013472
32    0.013472
26    0.013472
24    0.013472
22    0.013472
        ...
81    0.013472
13    0.013472
11    0.013472
27    0.013166
85    0.013166
28    0.012860
71    0.012860
93    0.012860
83    0.012860
34    0.012860
41    0.012554
29    0.011941
35    0.011635
36    0.011635
19    0.011329
99    0.011329
30    0.011023
78    0.011023
45    0.011023
47    0.011023
77    0.011023
51    0.011023
54    0.011023
58    0.010104
48    0.007655
37    0.006124
50    0.004287
43    0.001531
39    0.001531
65    0.000306
Name: department, Length: 81, dtype: float64

## What percent of sales occurred at each store type?

While .groupby() is useful, you can calculate grouped summary statistics without it.

Walmart distinguishes three types of stores: "supercenters", "discount stores", and "neighborhood markets", encoded in this dataset as type "A", "B", and "C". In this exercise, you'll calculate the total sales made at each store type, without using .groupby(). You can then use these numbers to see what proportion of Walmart's total sales were made at each.

sales is available and pandas is imported as pd.

### Instructions

- Calculate the total weekly sales over the whole dataset.
- Subset for type "A" stores, and calculate their total weekly sales.
- Do the same for type "B" and type "C" stores.
- Combine the A/B/C results into a list, and divide by overall sales to get the proportion of sales by type.

In [17]:
# Calc total weekly sales
sales_all = sales["weekly_sales"].sum()

# Subset for type A stores, calc total weekly sales
sales_A = sales[sales["type"] == "A"]["weekly_sales"].sum()

# Subset for type B stores, calc total weekly sales
sales_B = sales[sales["type"] == "B"]["weekly_sales"].sum()

# Subset for type C stores, calc total weekly sales
sales_C = sales[sales["type"] == "C"]["weekly_sales"].sum()

# Get proportion for each type
sales_propn_by_type = [sales_A, sales_B, sales_C] / sales_all
print(sales_propn_by_type)

[0.65137469 0.28763851 0.0609868 ]

## Calculations with .groupby()

The .groupby() method makes life much easier. In this exercise, you'll perform the same calculations as last time, except you'll use the .groupby() method. You'll also perform calculations on data grouped by two variables to see if sales differs by store type depending on if it's a holiday week or not.

sales is available and pandas is loaded as pd.

Instructions

- Group sales by "type", take the sum of "weekly_sales", and store as sales_by_type.
- Calculate the proportion of sales at each store type by dividing by the sum of sales_by_type. Assign to sales_propn_by_type.

In [18]:
# Group by type; calc total weekly sales
sales_by_type = sales.groupby("type")["weekly_sales"].sum()

# Get proportion for each type
sales_propn_by_type = sales_by_type / sum(sales_by_type)
print(sales_propn_by_type)

type
A    0.651375
B    0.287639
C    0.060987
Name: weekly_sales, dtype: float64

In [19]:
# From previous step
sales_by_type = sales.groupby("type")["weekly_sales"].sum()

# Group by type and is_holiday; calc total weekly sales
sales_by_type_is_holiday = sales.groupby(["type", "is_holiday"])["weekly_sales"].sum()
print(sales_by_type_is_holiday)

type  is_holiday
A     False         4.007612e+09
      True          3.234028e+08
B     False         1.765411e+09
      True          1.471081e+08
C     False         3.772478e+08
      True          2.825570e+07
Name: weekly_sales, dtype: float64

## Multiple grouped summaries

Earlier in this chapter you saw that the .agg() method is useful to compute multiple statistics on multiple variables. It also works with grouped data. NumPy, which is imported as np, has many different summary statistics functions, including:

np.min()
np.max()
np.mean()
np.median()
sales is available and pandas is imported as pd.

### Instructions
- Import NumPy with the alias np.
- Get the min, max, mean, and median of weekly_sales for each store type using .groupby() and .agg(). Store this as sales_stats.
- Get the min, max, mean, and median of unemployment and fuel_price_usd_per_l for each store type. Store this as unemp_fuel_stats.

In [20]:
# Import NumPy with the alias np
import numpy as np

# For each store type, aggregate weekly_sales: get min, max, mean, and median
sales_stats = sales.groupby("type")["weekly_sales"].agg([np.min, np.max, np.mean, np.median])

# Print sales_stats
print(sales_stats)

# For each store type, aggregate unemployment and fuel_price_usd_per_l: get min, max, mean, and median
unemp_fuel_stats = sales.groupby("type")[["unemployment", "fuel_price_usd_per_l"]].agg([np.min, np.max, np.mean, np.median])

# Print unemp_fuel_stats
print(unemp_fuel_stats)

         amin       amax          mean    median
type
A    -4988.94  474330.10  20099.568043  10105.17
B    -3924.00  693099.36  12335.331875   6269.02
C     -379.00  112152.35   9519.532538   1149.67
     unemployment                          fuel_price_usd_per_l            \
             amin    amax      mean median                 amin      amax
type
A           3.879  14.313  7.791595  7.818             0.653034  1.180321
B           4.125  14.313  7.889666  7.806             0.664129  1.180321
C           5.217  14.313  8.934350  8.300             0.664129  1.180321


          mean    median
type
A     0.883391  0.902676
B     0.892997  0.922225
C     0.888848  0.902676

## Pivoting on one variable

Pivot tables are the standard way of aggregating data in spreadsheets. In pandas, pivot tables are essentially just another way of performing grouped calculations. That is, the .pivot_table() method is just an alternative to .groupby().

In this exercise, you'll perform calculations using .pivot_table() to replicate the calculations you performed in the last lesson using .groupby().

sales is available and pandas is imported as pd.

### Instructions
- 1 Get the mean weekly_sales by type using .pivot_table() and store as mean_sales_by_type.

- 2 Get the mean and median (using NumPy functions) of weekly_sales by type using .pivot_table() and store as mean_med_sales_by_type.

- 3 Get the mean of weekly_sales by type and is_holiday using .pivot_table() and store as mean_sales_by_type_holiday.

In [21]:
# Pivot for mean weekly_sales for each store type
mean_sales_by_type = sales.pivot_table(values="weekly_sales", index="type")

# Print mean_sales_by_type
print(mean_sales_by_type)

      weekly_sales
type
A     20099.568043
B     12335.331875
C      9519.532538

In [22]:
# Import NumPy as np
import numpy as np

# Pivot for mean and median weekly_sales for each store type
mean_med_sales_by_type = sales.pivot_table(values="weekly_sales", index="type", aggfunc=[np.mean, np.median])

# Print mean_med_sales_by_type
print(mean_med_sales_by_type)

              mean       median
      weekly_sales weekly_sales
type
A     20099.568043     10105.17
B     12335.331875      6269.02
C      9519.532538      1149.67

In [23]:
# Pivot for mean weekly_sales by store type and holiday 
mean_sales_by_type_holiday = sales.pivot_table(values="weekly_sales", index="type", columns="is_holiday")

# Print mean_sales_by_type_holiday
print(mean_sales_by_type_holiday)

is_holiday         False         True
type
A           20008.746759  21297.517824
B           12248.741339  13478.844240
C            9518.528116   9532.963131

## Fill in missing values and sum values with pivot tables

The .pivot_table() method has several useful arguments, including fill_value and margins.

fill_value replaces missing values with a real value (known as imputation). What to replace missing values with is a topic big enough to have its own course (Dealing with Missing Data in Python), but the simplest thing to do is to substitute a dummy value.
margins is a shortcut for when you pivoted by two variables, but also wanted to pivot by each of those variables separately: it gives the row and column totals of the pivot table contents.
In this exercise, you'll practice using these arguments to up your pivot table skills, which will help you crunch numbers more efficiently!

sales is available and pandas is imported as pd.

### Instructions

- 1 Print the mean weekly_sales by department and type, filling in any missing values with 0.
- 2 Print the mean weekly_sales by department and type, filling in any missing values with 0 and summing all rows and columns.

In [24]:
# Print mean weekly_sales by department and type; fill missing values with 0
print(sales.pivot_table(values="weekly_sales", index="department", columns="type", fill_value=0))

type                    A             B             C
department
1            22956.887886  17990.876158   8951.733462
2            51994.674873  43051.996919  14424.851713
3            13881.033137  12965.414311    820.276818
4            32973.814075  21259.895804  13669.370396
5            26803.448045  21184.602916    767.600774
6             5585.277707   5006.859317     36.554462
7            30786.372028  23915.734587    564.668497
8            37091.220995  27578.908420  12293.092203
9            24025.109521  22768.012421    114.774217
10           23757.932155  17845.169969    335.823648
11           17151.349774  15984.101018    911.421981
12            5174.752237   4377.377190     95.283007
13           37420.957308  28186.873413  13062.763089
14           17738.801214  16198.735398   1213.951166
16           18370.779237  13184.059344   1558.514825
17           11863.174768  11432.410927    402.521257
18            8917.798155   7249.215388    479.583689
19            1551.746753   1811.704773      2.380000
20            6058.751242   5934.213169     50.106515
21            6538.843617   4260.831062   1356.520186
22           11695.248192  10508.500415     71.500305
23           25841.932408  26211.838488     33.323108
24            6522.886158   6433.927032      9.676279
25           10427.966998  10431.099091     57.635602
26            8179.438916   7484.569532     29.543827
27            1730.614921   1638.840966     19.715688
28             705.489549    699.362823     89.811128
29            5799.549360   5566.953724     13.208125
30            4232.884210   4043.370179      0.000000
31            2607.435351   2673.711993     58.397514
...                   ...           ...           ...
54             110.556674    108.420791      0.000000
55           11896.852021   9669.764983      6.359298
56            4730.669172   3573.183357    270.415964
58            4825.832931   2139.246621      0.000000
59             853.317015    697.790859    100.742155
60             391.007951    231.250462    506.437619
65           45441.706224      0.000000      0.000000
67            9564.837562   6835.229939   1373.246853
71            5986.634322   5516.217784    -32.353125
72           62046.661710  53220.954414    121.518523
74           16048.781395  15898.857762    450.627691
77             344.824713    323.973818      0.000000
78               8.160224      5.733763      0.000000
79           28729.636221  17978.179628   8973.187984
80           19571.861551    410.466488  10964.069545
81           22508.216891   6947.059244  12530.203601
82           19939.560207  13049.427753   5873.628147
83            5147.099517    778.152862   2689.759009
85            2739.924958   2408.371364     95.117480
87           17786.945277  12627.824274    539.506091
90           70550.502168  12368.083287  43628.231072
91           53734.139097   8338.731355  30623.882494
92          112156.881662  31491.707710  60795.759371
93           43296.564971   1503.127752  23826.284965
94           51067.047111   1045.368843  31636.174895
95           97094.026043  40580.306862  50641.564872
96           19900.943552   4752.674874  15766.025431
97           22093.807101   3543.243304  13419.542809
98           10979.816195    299.951644   5479.758054
99             431.443064     25.716667      8.330952

[81 rows x 3 columns]

In [25]:
# Print the mean weekly_sales by department and type; fill missing values with 0s; sum all rows and cols
print(sales.pivot_table(values="weekly_sales", index="department", columns="type", fill_value=0, margins=True))

type                    A             B             C           All
department
1            22956.887886  17990.876158   8951.733462  19213.485088
2            51994.674873  43051.996919  14424.851713  43607.020113
3            13881.033137  12965.414311    820.276818  11793.698516
4            32973.814075  21259.895804  13669.370396  25974.630238
5            26803.448045  21184.602916    767.600774  21365.583515
6             5585.277707   5006.859317     36.554462   4747.856188
7            30786.372028  23915.734587    564.668497  24161.237413
8            37091.220995  27578.908420  12293.092203  30191.263517
9            24025.109521  22768.012421    114.774217  20283.500171
10           23757.932155  17845.169969    335.823648  18413.912928
11           17151.349774  15984.101018    911.421981  14511.940587
12            5174.752237   4377.377190     95.283007   4188.065562
13           37420.957308  28186.873413  13062.763089  30741.536680
14           17738.801214  16198.735398   1213.951166  14925.388638
16           18370.779237  13184.059344   1558.514825  14192.117765
17           11863.174768  11432.410927    402.521257  10179.455937
18            8917.798155   7249.215388    479.583689   7361.933345
19            1551.746753   1811.704773      2.380000   1665.056016
20            6058.751242   5934.213169     50.106515   5538.979299
21            6538.843617   4260.831062   1356.520186   5003.794948
22           11695.248192  10508.500415     71.500305  10839.401235
23           25841.932408  26211.838488     33.323108  23957.244534
24            6522.886158   6433.927032      9.676279   6377.783644
25           10427.966998  10431.099091     57.635602   9001.551427
26            8179.438916   7484.569532     29.543827   7659.398860
27            1730.614921   1638.840966     19.715688   1590.103077
28             705.489549    699.362823     89.811128    617.397579
29            5799.549360   5566.953724     13.208125   5678.588997
30            4232.884210   4043.370179      0.000000   4148.655752
31            2607.435351   2673.711993     58.397514   2331.830096
...                   ...           ...           ...           ...
55           11896.852021   9669.764983      6.359298  10838.107618
56            4730.669172   3573.183357    270.415964   3838.737204
58            4825.832931   2139.246621      0.000000   3767.250934
59             853.317015    697.790859    100.742155    696.710057
60             391.007951    231.250462    506.437619    351.697950
65           45441.706224      0.000000      0.000000  45441.706224
67            9564.837562   6835.229939   1373.246853   7455.217875
71            5986.634322   5516.217784    -32.353125   5759.646936
72           62046.661710  53220.954414    121.518523  50883.867544
74           16048.781395  15898.857762    450.627691  13877.912876
77             344.824713    323.973818      0.000000    336.748662
78               8.160224      5.733763      0.000000      7.166123
79           28729.636221  17978.179628   8973.187984  22125.954518
80           19571.861551    410.466488  10964.069545  12446.005508
81           22508.216891   6947.059244  12530.203601  15488.975935
82           19939.560207  13049.427753   5873.628147  15515.975852
83            5147.099517    778.152862   2689.759009   3446.819688
85            2739.924958   2408.371364     95.117480   2270.720303
87           17786.945277  12627.824274    539.506091  13581.652330
90           70550.502168  12368.083287  43628.231072  45722.040153
91           53734.139097   8338.731355  30623.882494  34075.319472
92          112156.881662  31491.707710  60795.759371  75820.301731
93           43296.564971   1503.127752  23826.284965  27609.786744
94           51067.047111   1045.368843  31636.174895  34123.212731
95           97094.026043  40580.306862  50641.564872  70209.156181
96           19900.943552   4752.674874  15766.025431  15217.211505
97           22093.807101   3543.243304  13419.542809  14437.120839
98           10979.816195    299.951644   5479.758054   6973.013875
99             431.443064     25.716667      8.330952    415.487065
All          20099.568043  12335.331875   9519.532538  16094.726811

[82 rows x 4 columns]